.bodyContainer{
    background-color: rgb(84, 131, 99);
    height: 100%;
}

.productsContainer{
    display: flex;
    flex-wrap:wrap;
    flex: 1;
    width: 95%;
    height: 100%;
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
    background-color: white;
}

