.bodyContainer{
    background-color: rgb(84, 131, 99);
    height: 100%;
}

.productsContainer{
    display: flex;
    flex-wrap:wrap;
    flex: 1;
    height: 100%;
    margin: auto;
    justify-content: center;
    background-color: white;
}

.welcome{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
}